version: "3"
services: 
    mobilenet_v2:
        build: .
        working_dir: /mnt
        tty: true
        volumes: 
            - $PWD:/mnt:cached
        ports: 
            - "8888:8888"
        runtime: nvidia
        shm_size: '16gb'